.centerer {
    text-align: center;
    height: 100%;
    font-family: 'ubuntu';
}

.resume-left,
.resume-right {
    float: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.resume-left {
    width: 34%;
    color: #222222;
    background-color: #c7c7c7;
}

.component-topper {
    padding-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.resume-right {
    width: 66%;
    background-color: #d7d7d7;
}

.name-name {
    font-size: 45px;
}

.common-header {
    font-size: 25px;
    padding-left: 10px;
    text-align: left;
}

.common-detail {
    text-align: left;
}

ul.common-detail {
    margin: 0px;
    padding-left: 30px;
}

.common-icon {
    color: #FF2222;
    padding-right: 10px;
    font-size: 20px;
}

.common-bar-inner,
.common-bar-outer {
    -webkit-print-color-adjust: exact;
    border-radius: 2px;
}