.centerer {
    text-align: center;
    height: 100%;
}

.resume-left,
.resume-right {
    float: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.resume-left {
    width: 34%;
    color: white;
    background-color: #4c4c4c;
}

.resume-right {
    width: 66%;
    background-color: #d7d7d7;
}

.name-name {
    font-size: 45px;
}